<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>On Da Rox Manager</title>
</head>

<!-- Edit Body -->

<body>

    <a href="/drink/">Back to all Drinks</a> <br><br>
    
    <h1> <%= drink.drinkName %> </h1>

</body>
</html>