<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<body>

    <h1>Welcome to <br>Ondarox Manager</h1>

    <form action="/drink">
        <input type="submit" value="Login">
    </form>
    
</body>
</html>