<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<body>

    <style>
        h1 {
        text-align: center;
        margin-top: 12rem;
        }
        input{
        text-align: center;
        margin-top: 4rem;
        }
    </style>

    <h1>Welcome to <br>Ondarox Manager</h1>

    <form action="/drink">
        <input id="button" type="submit" value="Login">
    </form>
    
</body>
</html>